{% extends 'layout.html' %}

{% block title %}
    Register a New User
{% endblock %}

{% block content %}
    <form class="form-with-validation" action="/users/register/" method="post">
        {% csrf_token %}
		<h1>Registration</h1>
        <div class="field-row">
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div class="field-row">
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>

        <div class="field-row">
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>

        <button class="button-68" role="button">Register</button>

		<hr class="solid">
		<p>You have already an accout? <a href="/users/login">click here</a></p>
    </form>
{% endblock %}