# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Build / packaging
*.egg-info/
.qa/
.alembic-*.db

# Django
*.log
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local

# Frontend
frontend/node_modules/

# Media files (if you don't want to track uploaded files)
# media/
