# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local

# Media files (if you don't want to track uploaded files)
# media/