{% extends 'layout.html' %}

{% block title %}
    Verbs
{% endblock %}

{% block content %}
    <section>
    <h1>Profile</h1>
    
    <div class="scroll-container">
        <p class="verb-header-inside">
            <span style="position:relative; left:2.5rem;">Verb</span>
            <span style="position:absolute; right:7rem;">Translation</span>
        </p>
        <table class="content">
            {% for user_verb in verbs %}
            <tr>
                <td>{{ user_verb.verb.id }}</td>
                <td>{{ user_verb.verb.infinitive }}</td>
                <td>{{ user_verb.verb.translation }}</td>
            </tr>
            {% empty %}
                <p>No verbs found for your account. You may need to initialize your verb collection.</p>
            {% endfor %}
        </table>
    </div>
    </section>
{% endblock %}