{% extends 'layout.html' %}

{% block title %}Autonomous Training{% endblock %}

{% block content %}
	<div class="form-with-validation">
		<h1 class="page-title--elevated">Add New Words</h1>
		<!-- radio buttom -->
		<div class="options-buttom-container">
			<div class="options-buttom-heading">Type your new word</div>
			<p>If you want to add a new word to your list, type the new word in the original language (choose between 
				french and spanish). This word will be added to the wait list.</p>
			<div class="options-buttom-wrapper">
					<input class="input" id="opt-French" value="French" name="lenguage_fill" type="radio" checked/>
					<label class="options-buttom" for="opt-French">French</label>

					<input class="input" id="opt-Spanish" value="Spanish" name="lenguage_fill" type="radio"/>
					<label class="options-buttom" for="opt-Spanish">Spanish</label>
					</label>
			</div>
		</div>

		<!-- form -->
		<div class="field-row" style="gap: 2rem;">
			<input id="answer" name="answer" type="text" autocomplete="off" placeholder="Type new word" required>
			<button type="submit" name="action" value="add_custom_word">Save Word</button>
			<hr class="solid">
		</div>
	</div>

	

{% endblock %}