{% extends 'layout.html' %}

{% block title %}
    Chat
{% endblock %}

{% block content %}
<div class="center-page">
    <div id="chat-wrapper" hx-ext="ws" ws-connect="/ws/chatgpt-demo/">
        <div id="message-list" class="chat-pane">
            <div class="chat-message is-system">
                Hello, what can I help you with today?
            </div>
        </div>
        <form id="chat-input-bar" ws-send hx-on::ws-after-send="this.reset()">
            <textarea name="message" rows="1" placeholder="Type your message..." autocomplete="off" autofocus></textarea>
            <button type="submit" class="button-68">Send</button>
        </form>
    </div>
</div>
{% endblock %}
