{% load django_htmx %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.12" defer></script>
    <script src="{% static 'js/main.js' %}" defer></script>
    {% django_htmx_script %}
</head>
<body hx-boost="true" hx-push-url="true">
    <nav>
        <div class="nav-left">
            <a href="/">Home</a>
            {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Train</button>
                <div class="dropdown-menu" role="menu">
                    <a role="menuitem" href="{% url 'verbs:verbstraining' %}">Verbs</a>
                    <a role="menuitem" href="{% url 'word_training:word_training' %}">Words</a>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="nav-right">
            {% if not user.is_authenticated %}
            <a href="{% url 'users:login' %}">Login</a>
            <a href="{% url 'users:register' %}">Get Started</a>
            {% else %}
                <a href="{% url 'verbs:verbhome' %}">Profile</a>
                <form class="logout" action="{% url 'users:logout' %}" method="post">
					{% csrf_token %}
					<a href="#" onclick="this.closest('form').submit(); return false;">Logout</a>
                </form>
            {% endif %}
        </div>
    </nav>
    <div id="app">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>